<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <style>
        a
        {
            padding-left: 60px;
        }
        body
        {
            background-color: aqua;
        }
        .set h2{
            text-align: center ;
            text-decoration: solid;
        }
    </style>
</head>
<body>

    <div class="set">
    <h2>Navigation Bar </h2>
    <a href= "https://www.youtube.com/playlist?list=PLu0W_9lII9ah7DDtYtflgwMwpT3xmjXY9" > Django Code With Harry Bhai </a>
    <a href="https://muhammadaqeelportfolio.surge.sh/">My PortFolio </a> 
    <a href="https://www.linkedin.com/in/muhammad-aqeel-a04716279/"> Linkdlen Acount</a> 
    <a href="https://github.com/MuhammadAqeel1209"> MyGitHubLink </a> 
    <a href="https://www.google.com/"> Google </a> 
</div>
    
</body>
</html>
